$gold : #e2d454;

.card-m{
    cursor: pointer;
}
.card-m:hover{
    z-index: 10;
    box-shadow: 0 0.5rem 0.5rem rgb(0 0 0 / 15%) !important;
    background:#efefef;
    transform: scale(1.01);
}

.card-m:active{
    box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%) !important;
}

.on_card_buttons{
    position: absolute;
    z-index: 11;
    top: 10px;
    right: 20px;
}

.position_left{
    top:0;
    left: 0;
}

.heart:hover{
    z-index: 10;
    color: #ce5454
}
.heart:active{
    color: darken($color: #ce5454, $amount: 10);
}

.reaction-btn{
    outline: none;
    border: none;
    background: transparent;
}
