.card-m {
  cursor: pointer;
  text-decoration: none !important;
}

.card-m:hover {
  z-index: 10;
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.15) !important;
  background: #efefef;
  transform: scale(1.01);
}

.card-m:active {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.08) !important;
}

.on_card_buttons {
  position: absolute;
  z-index: 11;
  top: 10px;
  right: 20px;
}

.position_left {
  top: 0;
  left: 0;
}

.heart:hover {
  z-index: 10;
  color: #ce5454;
}

.heart:active {
  color: #ba3535;
}

.reaction-btn {
  outline: none;
  border: none;
  background: transparent;
}

.border-left-yellow {
  border-left: 10px solid #def15e;
}

.border-left-green {
  border-left: 10px solid #5ef16f;
}

.text_up_right {
  -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
  -webkit-text-orientation: upright;
          text-orientation: upright;
}
